
@{
    ViewBag.Title = "AdminIndex";
}

<h2>AdminIndex</h2>


<body>
    
    <form method="post" action="CompanyBarChart">
        @Html.DropDownList("DropDownList", (SelectList)ViewBag.DropDownValues)
        <input type="submit" />
    </form>
    <div>
        <fieldset>
            <legend>Favorite Company</legend>
            <img src="@Url.Action("CompanyBarChart")" alt="Favorite companies" />
        </fieldset>
        <fieldset>
            <legend>Favorite Task</legend>
            <img src="@Url.Action("TaskBarChart")" alt="Favorite Tasks" />
        </fieldset>
        <fieldset>
            <legend>Time of Day</legend>
            <img src="@Url.Action("TimeOfDayLineChart")" alt="Line Chart using MVC" />
        </fieldset>
        <fieldset>
            <legend>Day of Week</legend>
            <img src="@Url.Action("DayToLineChart")" alt="Line Chart using MVC" />
        </fieldset>
    </div>
</body>
